body{
    padding: 10%;
    padding-top: 5%;
    overflow-x: hidden;
    overflow-y: scroll;
}

#header{
    background-color: black;
    position: absolute;
    left: 0px;
    width: 200%;
    padding: 100px;
    color: white;
    top: 0px;
}

ul{
    margin-top: 250px;
}

.menu-item{
    color: black;
    border-color: #d3d3d3;
    padding: 10px;
    padding-bottom: 5px;
    font-size: 20px;
}

.gallery-title{
    font-size: 36px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}

.gallery-title:after {
    content: "";
    position: absolute;
    width: 80%;
    left: 10%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}

.port-image{
    width: 80%;
}

.project{
    margin-bottom: 30px;
}
